# Tell GitHub to count these files in language stats

*.js linguist-detectable=true
*.jsx linguist-detectable=true
*.css linguist-detectable=true
*.scss linguist-detectable=true
*.html linguist-detectable=true
*.json linguist-detectable=true
*.ts linguist-detectable=true
*.tsx linguist-detectable=true

# Force GitHub to treat them as these languages
*.js linguist-language=JavaScript
*.jsx linguist-language=JavaScript
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript
*.css linguist-language=CSS
*.scss linguist-language=SCSS
*.html linguist-language=HTML
*.json linguist-language=JSON
*.md linguist-language=Markdown
